<nav>
    <ul>
        <li><a href="/"><img src="assets/images/favicon.png" alt="Logo"><h1>Blog</h1></a></li>
    </ul>
    <ul class="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/posts">My Posts</a></li>
        <li><a href="/about">About Us</a></li>
        <!-- <li><a href="/contact">Contact Us</a></li> -->
        <!-- <li><a href="/terms">T&C</a></li> -->
    </ul>
</nav>